
/* General Set Up */
html, body {
    margin: 0;
    padding: 0;
  }

  body {
    background: rgb(42, 160, 225);
}


/* Begin Lab Questions*/

/* This Section is all of part two*/
.header {
    background: rgb(148, 83, 0);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 15px;
    font-family: 'Shrikhand', cursive;
  }

/* Part 3, 4, 5, 6 and 7 */
.wrapper {
    display: flex;
    justify-content: center;
    background: rgb(14, 101, 148);
    padding: 20px;
}

/* Part 8*/
.wrapper > .content {
    max-width: 960px;
    width: 60%;
}
.wrapper > .aside {
    width: 30%;
}

/* Part 10 and 11 */
.aside > img {
    border: rgb(148, 83, 0);
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
}

.content {
    background: rgb(42, 160, 225);
    margin: 10px;
}

.aside {
    background: rgb(42, 160, 225);
    margin: 10px;
    padding: 10px;
}

/* Part 12 */
h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

/* Part 13 */

/* Part 15 and 16 */
@media only screen and (max-width: 1000px) {
    .wrapper {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .wrapper > .aside {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }
    /* Last Bullet of part 2 */
    .header {
        justify-content: center;
    }
  }